[run]

[report]
omit =
       */venv/*
       */python?.?/*
       */site-packages/nose/*
       */__pycache__/*
       *.pyc
       */mymodule/tests/*
       *__init__.py
       */api\__init__.py
       */api\controllers\__init__.py
       */api\handlers\__init__.py
       */api\models\__init__.py
       */api\tests\__init__.py
       */api\utils\__init__.py
       */api\views\__init__.py
       */run.py
       */response_errors.py


